@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Dubno.Models.Post>

<h1>Need Approval</h1>
<div class="container">
    <div class="row">

        @foreach (var post in Model)
        {

            @if (post.Approved == false && post.Pending == true)
            {

                    <div class="col-md-4">
                        <div>
                            <div class="pi-img-wrapper">
                                <img src="@post.ImageUrl" class="img-responsive">
                            </div>
                            <h3>
                                @Html.ActionLink((string)post.Title, "Details", new { id = post.PostId })
                            </h3>
                            <h5>@post.Name</h5>
                            <h5>@post.Description</h5>
                            <h5>@post.City, @post.State</h5>
                            <h5>@post.PostDate</h5>

                            <div id="post-@post.PostId">
                            <button class="post" value="@post.PostId">Post</button>
                            @*<button class="delete-post" value="@post.PostId">Delete</button>*@
                            </div>

                        </div>
                    </div>
             
            }

        }
    </div>
</div>
