@model Dubno.Models.Post
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <div class="details-page">
        <div class="row image-details">

    
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.ImageName)" />


        </div>
        <div class="row title">

            <p>@Html.DisplayFor(model => model.Description)</p>
            @if (User.Identity.IsAuthenticated)
            {
                <br />
                <p>User Email: @Html.DisplayFor(model => model.Email)</p>
                <br />
                <p> <span class="space">@Html.ActionLink("Edit", "Edit", new { id = Model.PostId })</span>     <span class="space"> @Html.ActionLink("Delete", "Delete", new { id = Model.PostId })</span></p>
<br />
                <p>Admin Comments:</p>
                <p>@Html.DisplayFor(model => model.AdminComment)</p>
            }
        </div>
        <div class="row"></div>
      </div>
</div>


@if (!User.Identity.IsAuthenticated)
{
<h4 class="title">More Stories</h4>
<div class="container">


    @foreach (var post in ViewData["FeaturedPosts"] as IEnumerable<Dubno.Models.Post>)
    {
        @if (post.Approved == true && post.Pending == false)
        {
            <div class="col-md-6 details-featured-posts">


                <a href="@Url.Action("Details", "Home", new { id = post.PostId })">
                    <div class="alt-story">
                        <img src="data:image;base64,@System.Convert.ToBase64String(post.ImageName)" class="img-responsive" />
                    </div>
                </a>
            </div>
        }
    }

</div>
}