@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<Dubno.Models.Post>

<div class="container-fluid index-feature">
    <h1 class="title">People of Dubno</h1>

    @foreach (var post in ViewData["FeaturedPosts"] as IEnumerable<Dubno.Models.Post>)
    {
        @if (post.Approved == true && post.Pending == false)
        {
            <a href="@Url.Action("Details","Home", new { id = post.PostId })">
                <div class="col-md-4">
                    <img src="@post.ImageName">

                </div>
            </a>

        }
    }


</div>





<div class="row title">
    <h2>Latest Stories</h2>
</div>

<div class="container index">
    <div>

        @foreach (var post in Model)
        {

            @if (post.Approved == true && post.Pending == false)
            {

                <div class="story">
                    <a href="@Url.Action("Details","Home", new { id = post.PostId })">
                        <div class="image">
                            <img src="@post.ImageName" class="img-responsive">
                        </div>


                        <div class="row text">

                            <p>@post.Description</p>
                            <p class="pull-right">@post.City, @post.State</p>

                        </div>
                        <div class="row">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <p>@Html.ActionLink("Delete", "Delete", new { id = post.PostId })</p>

                            }
                        </div>

                    </a>
                </div>
            }

        }
    </div>
</div>
