@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Dubno.Models.Post>

<div class="container index">

    @foreach (var post in Model)
    {

        @if (post.Approved == true && post.Pending == false)
        {

                <div class="post">
                    <a href="@Url.Action("Details","Home", new { id = post.PostId })">
                        <div class="image">
                            <img src="@post.ImageName" class="img-responsive">
                        </div>
                       
                     
                        <div class="row text">
                          
                            <h5>@post.Description</h5>
                            <h5 class="pull-right">@post.City, @post.State</h5>
                           
                        </div>
                        <div class="row">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <p>@Html.ActionLink("Delete", "Delete", new { id = post.PostId })</p>

                        }
                        </div>

                    </a>
                 </div>
            }

        }
</div>
