
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ImageViewModel

<h2>Submit a post for approval</h2>
<hr />

<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);

    <label>City</label>
    <select name="City" id="City">
        <option value="Dubno">Dubno</option>
    </select>

    <label>State</label>
    <select name="State" id="State">
        <option value="Ukraine">Ukraine</option>
    </select>

    <label>Image</label>
    @Html.TextBoxFor(model => model.ImageUrl)

    <label>Title</label>
    @Html.TextBoxFor(model => model.Title)

    <label>Description</label>
    @Html.TextBoxFor(model => model.Description)

    <label>Name</label>
    @Html.TextBoxFor(model => model.Name)

    <label>Contact Email</label>
    @Html.TextBoxFor(model => model.Email)


    <div>
        @Html.LabelFor(m => m.ImageUpload)
        @Html.EditorFor(m => m.ImageUpload)
    </div>
    <button type="submit">Create</button>
</form>
